In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
breed_set=pd.read_csv("labels.csv")
breed_set.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [3]:
breed_set['label_new'] = breed_set['breed']
breed_set.head()

                                 id             breed         label_new
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever  golden_retriever

In [4]:
relabel_prop=0.5

In [5]:
hier_set=pd.read_csv("MultiLabel_Classfication/DogHierarchy.csv",usecols=['L1','L2','L3','L4','L5','L6'])
hier_set.head()

,L1,L2,L3,L4,L5,L6
0,domestic_dog,hunting_dog,sporting_dog,pointer,vizsla,NaN
1,domestic_dog,hunting_dog,sporting_dog,pointer,german_short-haired_pointer,NaN
2,domestic_dog,hunting_dog,sporting_dog,setter,english_setter,NaN
3,domestic_dog,hunting_dog,sporting_dog,setter,gordon_setter,NaN
4,domestic_dog,hunting_dog,sporting_dog,setter,irish_setter,NaN

In [6]:
L1_all=hier_set['L1'].unique()
L2_all=hier_set['L2'].unique()
L3_all=hier_set['L3'].unique()
L4_all=hier_set['L4'].unique()
L5_all=hier_set['L5'].unique()
L6_all=hier_set['L6'].unique()
L1_all

array(['domestic_dog', 'wild_dog'], dtype=object)

In [7]:
breed=breed_set['breed']

In [10]:
def change_label(level,prev_level):
    level=level.strip('"\'')
    print(level)
    breed_level=breed_set.iloc[np.where(breed.isin(level))]
    print(level)
    breed_level=breed_level.merge(hier_set, left_on="breed", right_on=level_name)
    tochange=np.random.choice(breed_level.shape[0],math.ceil(breed_level.shape[0]/2),replace=False)
    breed_all_index=set(np.arange(breed_level.shape[0]))
    unchange=list(breed_all_index-set(tochange))
    breed_tochange=breed_level.loc[tochange]
    breed_tochange['label_new']=breed_tochange[str(prev_level)]
    breed_unchange=breed_level.loc[unchange]
    new=pd.concat([breed_unchange,breed_tochange])
    return new

## L6

In [9]:
L6_breed=breed_set.iloc[np.where(breed.isin(L6_all))]
L6_breed=L6_breed.merge(hier_set, left_on="breed", right_on="L6")
L6_breed.head()

,id,breed,label_new,L1,L2,L3,L4,L5,L6
0,01f8540fb1084107a6eb3e528f82c1aa,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel
1,02ef5f19db8cf4da62016a1067bdc548,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel
2,0490b67cb414d527d6c21052b1e3b5dd,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel
3,04d6fe2d5ad29be79083e5c9cf3d9b0d,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel
4,0672befac9ea0c8fe82c37b5a634d87c,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel

In [10]:
tochange=np.random.choice(L6_breed.shape[0],math.ceil(L6_breed.shape[0]/2),replace=False)

In [11]:
L6_breed_all_index=set(np.arange(L6_breed.shape[0]))

In [12]:
tochange.sort()
tochange

array([  2,   6,   7,   8,   9,  12,  13,  14,  15,  17,  18,  21,  22,
        23,  24,  28,  29,  30,  33,  34,  35,  36,  39,  40,  41,  49,
        50,  51,  54,  55,  58,  59,  60,  63,  64,  66,  68,  69,  74,
        78,  83,  86,  89,  91,  92,  98,  99, 100, 101, 102, 103, 104,
       106, 107, 108, 110, 111, 113, 115, 117, 118, 119, 120, 122, 123,
       127, 128, 129, 131, 132, 135, 137, 138, 139, 140, 141, 146])

In [13]:
len(tochange)

77

In [14]:
unchange=list(L6_breed_all_index-set(tochange))

In [15]:
L6_breed_tochange=L6_breed.loc[tochange]
L6_breed_tochange['label_new']=L6_breed_tochange['L5']
L6_breed_tochange.shape

(77, 9)

In [16]:
L6_breed_unchange=L6_breed.loc[unchange]
L6_breed_unchange.shape

(77, 9)

In [19]:
L6_new=pd.concat([L6_breed_unchange,L6_breed_tochange])

# L5

In [20]:
L5_breed=breed_set.iloc[np.where(breed.isin(L5_all))]
L5_breed=L5_breed.merge(hier_set, left_on="breed", right_on="L5")
L5_breed.head()

,id,breed,label_new,L1,L2,L3,L4,L5,L6
0,0021f9ceb3235effd7fcde7f7538ed62,golden_retriever,golden_retriever,domestic_dog,hunting_dog,sporting_dog,retriever,golden_retriever,NaN
1,00a366d4b4a9bbb6c8a63126697b7656,golden_retriever,golden_retriever,domestic_dog,hunting_dog,sporting_dog,retriever,golden_retriever,NaN
2,0100f55e4f0fe28f2c0465d3fc4b9897,golden_retriever,golden_retriever,domestic_dog,hunting_dog,sporting_dog,retriever,golden_retriever,NaN
3,02ff77af410e966b7b661f6f0789d947,golden_retriever,golden_retriever,domestic_dog,hunting_dog,sporting_dog,retriever,golden_retriever,NaN
4,0825e8471e3c9a14dc341bdd8630f05e,golden_retriever,golden_retriever,domestic_dog,hunting_dog,sporting_dog,retriever,golden_retriever,NaN

In [21]:
tochange=np.random.choice(L5_breed.shape[0],math.ceil(L5_breed.shape[0]/2),replace=False)
L5_breed_all_index=set(np.arange(L5_breed.shape[0]))
unchange=list(L5_breed_all_index-set(tochange))
L5_breed_tochange=L5_breed.loc[tochange]
L5_breed_tochange['label_new']=L5_breed_tochange['L4']
L5_breed_tochange.shape

(1374, 9)

In [23]:
L5_breed_unchange=L5_breed.loc[unchange]
L5_breed_unchange.shape

(1374, 9)

In [24]:
L5_new=pd.concat([L5_breed_unchange,L5_breed_tochange])

# L4

In [25]:
L4_breed=breed_set.iloc[np.where(breed.isin(L4_all))]
L4_breed=L4_breed.merge(hier_set, left_on="breed", right_on="L4")
L4_breed.head()

,id,breed,label_new,L1,L2,L3,L4,L5,L6
0,000bec180eb18c7604dcecc8fe0dba07,boston_bull,boston_bull,domestic_dog,hunting_dog,terrier,boston_bull,NaN,NaN
1,010d65bd29d246aea53d9849da142ccf,boston_bull,boston_bull,domestic_dog,hunting_dog,terrier,boston_bull,NaN,NaN
2,0755a940eac9a9b8cf0328b4be062096,boston_bull,boston_bull,domestic_dog,hunting_dog,terrier,boston_bull,NaN,NaN
3,07d7cfbdbd3682cae50902b53c798028,boston_bull,boston_bull,domestic_dog,hunting_dog,terrier,boston_bull,NaN,NaN
4,0b3d3120a62c2bc280f589d473041d06,boston_bull,boston_bull,domestic_dog,hunting_dog,terrier,boston_bull,NaN,NaN

In [26]:
L4_breed.shape

(4458, 9)

In [27]:
tochange=np.random.choice(L4_breed.shape[0],math.ceil(L4_breed.shape[0]/2),replace=False)
L4_breed_all_index=set(np.arange(L4_breed.shape[0]))
unchange=list(L4_breed_all_index-set(tochange))
L4_breed_tochange=L4_breed.loc[tochange]
L4_breed_tochange['label_new']=L4_breed_tochange['L3']
L4_breed_tochange.shape

(2229, 9)

In [28]:
L4_breed_unchange=L4_breed.loc[unchange]
L4_breed_unchange.shape

(2229, 9)

In [29]:
L4_new=pd.concat([L4_breed_unchange,L4_breed_tochange])
L4_new.shape

(4458, 9)

In [35]:
L5_new.shape[0]+L6_new.shape[0]+L4_new.shape[0]

7360

# L3

In [36]:
L3_breed=breed_set.iloc[np.where(breed.isin(L3_all))]
L3_breed=L3_breed.merge(hier_set, left_on="breed", right_on="L3")
L3_breed.head()

,id,breed,label_new,L1,L2,L3,L4,L5,L6
0,001cdf01b096e06d78e9e5112d419397,pekinese,pekinese,domestic_dog,toy_dog,pekinese,NaN,NaN,NaN
1,0314048edbd08c8c50eb3c93281bd043,pekinese,pekinese,domestic_dog,toy_dog,pekinese,NaN,NaN,NaN
2,0685bcc6cdaa954771379d95d339baf6,pekinese,pekinese,domestic_dog,toy_dog,pekinese,NaN,NaN,NaN
3,084f941981c326f26ea77158fb449c57,pekinese,pekinese,domestic_dog,toy_dog,pekinese,NaN,NaN,NaN
4,0d2dc4f72cc5d6d26055989b217a2450,pekinese,pekinese,domestic_dog,toy_dog,pekinese,NaN,NaN,NaN

In [37]:
L3_breed.shape

(1961, 9)

In [38]:
tochange=np.random.choice(L3_breed.shape[0],math.ceil(L3_breed.shape[0]/2),replace=False)
L3_breed_all_index=set(np.arange(L3_breed.shape[0]))
unchange=list(L3_breed_all_index-set(tochange))
L3_breed_tochange=L3_breed.loc[tochange]
L3_breed_tochange['label_new']=L3_breed_tochange['L2']
L3_breed_tochange.shape

(981, 9)

In [40]:
L3_breed_unchange=L3_breed.loc[unchange]
L3_breed_unchange.shape

(980, 9)

In [41]:
L3_new=pd.concat([L3_breed_unchange,L3_breed_tochange])
L3_new.shape

(1961, 9)

# L2

In [42]:
L2_breed=breed_set.iloc[np.where(breed.isin(L2_all))]
L2_breed=L2_breed.merge(hier_set, left_on="breed", right_on="L2")
L2_breed.head()

,id,breed,label_new,L1,L2,L3,L4,L5,L6
0,001513dfcb2ffafc82cccf4d8bbaba97,dingo,dingo,wild_dog,dingo,NaN,NaN,NaN,NaN
1,00a338a92e4e7bf543340dc849230e75,dingo,dingo,wild_dog,dingo,NaN,NaN,NaN,NaN
2,0120343862761d052d6a7ade81625c94,dingo,dingo,wild_dog,dingo,NaN,NaN,NaN,NaN
3,02b1c50fb7315423a664f3ce68c94e30,dingo,dingo,wild_dog,dingo,NaN,NaN,NaN,NaN
4,060b163b5ad74c889c47b9f421825cdb,dingo,dingo,wild_dog,dingo,NaN,NaN,NaN,NaN

In [43]:
tochange=np.random.choice(L2_breed.shape[0],math.ceil(L2_breed.shape[0]/2),replace=False)
L2_breed_all_index=set(np.arange(L2_breed.shape[0]))
unchange=list(L2_breed_all_index-set(tochange))
L2_breed_tochange=L2_breed.loc[tochange]
L2_breed_tochange['label_new']=L2_breed_tochange['L1']
L2_breed_tochange.shape

(451, 9)

In [44]:
L2_breed.shape

(901, 9)

In [45]:
L2_breed_unchange=L2_breed.loc[unchange]
L2_breed_unchange.shape

(450, 9)

In [46]:
L2_new=pd.concat([L2_breed_unchange,L2_breed_tochange])
L2_new.shape

(901, 9)

In [47]:
L2_breed_tochange.head()

,id,breed,label_new,L1,L2,L3,L4,L5,L6
291,20ca77608e80e914e6eb60d5e08caf6d,dhole,wild_dog,wild_dog,dhole,NaN,NaN,NaN,NaN
828,6860f494b5115c719bdf77747b046f18,great_pyrenees,domestic_dog,domestic_dog,great_pyrenees,NaN,NaN,NaN,NaN
888,e6b47a2f62d0956fae1f3970f310b64a,great_pyrenees,domestic_dog,domestic_dog,great_pyrenees,NaN,NaN,NaN,NaN
14,33c24b1ebb9ee4c6b2714cac928f1803,dingo,wild_dog,wild_dog,dingo,NaN,NaN,NaN,NaN
243,a307fca579f19edcc2311fe216679c37,african_hunting_dog,wild_dog,wild_dog,african_hunting_dog,NaN,NaN,NaN,NaN

In [52]:
L6_new.shape[0]+L5_new.shape[0]+L4_new.shape[0]+L3_new.shape[0]+L2_new.shape[0]

10222

In [49]:
breed_set.shape

(10222, 3)

In [58]:
all_new=pd.concat([L6_new,L5_new,L4_new,L3_new,L2_new])

In [53]:
L5_new.shape[0]+L4_new.shape[0]+L3_new.shape[0]

9167

In [62]:
all_new.to_csv("new_labels.csv", encoding='utf-8',index=False)

In [63]:
test=pd.read_csv("new_labels.csv")
test.head()

,id,breed,label_new,L1,L2,L3,L4,L5,L6
0,01f8540fb1084107a6eb3e528f82c1aa,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel
1,02ef5f19db8cf4da62016a1067bdc548,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel
2,bd9b29f039b5ecf255916a26662070c0,english_springer,english_springer,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,english_springer
3,04d6fe2d5ad29be79083e5c9cf3d9b0d,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel
4,0672befac9ea0c8fe82c37b5a634d87c,welsh_springer_spaniel,welsh_springer_spaniel,domestic_dog,hunting_dog,sporting_dog,spaniel,springer_spaniel,welsh_springer_spaniel

In [64]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10222 entries, 0 to 10221
Data columns (total 9 columns):
id           10222 non-null object
breed        10222 non-null object
label_new    10222 non-null object
L1           10222 non-null object
L2           10222 non-null object
L3           9321 non-null object
L4           7360 non-null object
L5           2902 non-null object
L6           154 non-null object
dtypes: object(9)
memory usage: 718.8+ KB