In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
breed_set=pd.read_csv("labels.csv")
breed_set.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [3]:
breed_set['label_new'] = breed_set['breed']
# breed_set['L1'] = breed_set['breed']
# breed_set['L2'] = breed_set['breed']
# breed_set['L3'] = breed_set['breed']
# breed_set['L4'] = breed_set['breed']
# breed_set['L5'] = breed_set['breed']
# breed_set['L6'] = breed_set['breed']
breed_set.head()

                                 id             breed         label_new
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever  golden_retriever

In [4]:
relabel_prop=0.5

In [5]:
hier_set=pd.read_csv("dataset/DogHierarchy.csv",usecols=['L1','L2','L3','L4','L5','L6'])
hier_set.head()

,L1,L2,L3,L4,L5,L6
0,domestic_dog,hunting_dog,sporting_dog,pointer,vizsla,NaN
1,domestic_dog,hunting_dog,sporting_dog,pointer,german_short-haired_pointer,NaN
2,domestic_dog,hunting_dog,sporting_dog,setter,english_setter,NaN
3,domestic_dog,hunting_dog,sporting_dog,setter,gordon_setter,NaN
4,domestic_dog,hunting_dog,sporting_dog,setter,irish_setter,NaN

In [6]:
hier_set=hier_set.replace(np.nan, '', regex=True)

In [7]:
L1_all=hier_set['L1'].unique()
L2_all=hier_set['L2'].unique()
L3_all=hier_set['L3'].unique()
L4_all=hier_set['L4'].unique()
L5_all=hier_set['L5'].unique()
L6_all=hier_set['L6'].unique()
L1_all

array(['domestic_dog', 'wild_dog'], dtype=object)

In [8]:
def relation(l1,l2):
    for i in range(n):
        hier=tuple(hier_set.iloc[i,l1:l2])
        
        parent=hier[0]
        child=hier[1]
        if child!='':
            t[child]=parent

In [9]:
n=hier_set.shape[0]
t=dict()
relation(0,2)
relation(1,3)
relation(2,4)
relation(3,5)
relation(4,6)
t

{'affenpinscher': 'pinscher',
 'afghan_hound': 'hound_dog',
 'african_hunting_dog': 'wild_dog',
 'airedale': 'terrier',
 'american_staffordshire_terrier': 'bullterrier',
 'appenzeller': 'sennenhunde',
 'australian_terrier': 'terrier',
 'basenji': 'domestic_dog',
 'basset': 'hound_dog',
 'beagle': 'hound_dog',
 'bedlington_terrier': 'terrier',
 'belgian_sheepdog': 'shepherd_sheepdog',
 'bernese_mountain_dog': 'sennenhunde',
 'black-and-tan_coonhound': 'hound_dog',
 'blenheim_spaniel': 'english_toy_spaniel',
 'bloodhound': 'hound_dog',
 'bluetick': 'hound_dog',
 'border_collie': 'shepherd_sheepdog',
 'border_terrier': 'terrier',
 'borzoi': 'wolfhound',
 'boston_bull': 'terrier',
 'bouvier_des_flandres': 'shepherd_sheepdog',
 'boxer': 'working_dog',
 'brabancon_griffon': 'domestic_dog',
 'briard': 'shepherd_sheepdog',
 'brittany_spaniel': 'spaniel',
 'bull_mastiff': 'working_dog',
 'bullterrier': 'terrier',
 'cairn': 'terrier',
 'cardigan': 'corgi',
 'chesapeake_bay_retriever': 'retriever',
 'chihuahua': 'toy_dog',
 'chow': 'spitz',
 'clumber': 'spaniel',
 'cocker_spaniel': 'spaniel',
 'collie': 'shepherd_sheepdog',
 'corgi': 'domestic_dog',
 'curly-coated_retriever': 'retriever',
 'dachshund': 'hunting_dog',
 'dandie_dinmont': 'terrier',
 'dhole': 'wild_dog',
 'dingo': 'wild_dog',
 'doberman': 'pinscher',
 'english_foxhound': 'foxbound',
 'english_setter': 'setter',
 'english_springer': 'springer_spaniel',
 'english_toy_spaniel': 'toy_spaniel',
 'entlebucher': 'sennenhunde',
 'eskimo_dog': 'working_dog',
 'flat-coated_retriever': 'retriever',
 'foxbound': 'hound_dog',
 'french_bulldog': 'working_dog',
 'german_shepherd': 'shepherd_sheepdog',
 'german_short-haired_pointer': 'pointer',
 'giant_schnauzer': 'schnauzer',
 'golden_retriever': 'retriever',
 'gordon_setter': 'setter',
 'great_dane': 'working_dog',
 'great_pyrenees': 'domestic_dog',
 'greater_swiss_mountain_dog': 'sennenhunde',
 'greyhound': 'hound_dog',
 'groenendael': 'belgian_sheepdog',
 'hound_dog': 'hunting_dog',
 'hunting_dog': 'domestic_dog',
 'ibizan_hound': 'hound_dog',
 'irish_setter': 'setter',
 'irish_terrier': 'terrier',
 'irish_water_spaniel': 'spaniel',
 'irish_wolfhound': 'wolfhound',
 'italian_greyhound': 'greyhound',
 'japanese_spaniel': 'toy_dog',
 'keeshond': 'spitz',
 'kelpie': 'shepherd_sheepdog',
 'kerry_blue_terrier': 'terrier',
 'komondor': 'shepherd_sheepdog',
 'kuvasz': 'watchdog',
 'labrador_retriever': 'retriever',
 'lakeland_terrier': 'wirehaired terrier',
 'leonberg': 'domestic_dog',
 'lhasa': 'terrier',
 'malamute': 'sledge_dog',
 'malinois': 'belgian_sheepdog',
 'maltese_dog': 'toy_dog',
 'mexican_hairless': 'domestic_dog',
 'miniature_pinscher': 'pinscher',
 'miniature_poodle': 'poodle_dog',
 'miniature_schnauzer': 'schnauzer',
 'newfoundland': 'domestic_dog',
 'norfolk_terrier': 'terrier',
 'norwegian_elkhound': 'hound_dog',
 'norwich_terrier': 'terrier',
 'old_english_sheepdog': 'shepherd_sheepdog',
 'otterhound': 'hound_dog',
 'papillon': 'toy_spaniel',
 'pekinese': 'toy_dog',
 'pembroke': 'corgi',
 'pinscher': 'watchdog',
 'pointer': 'sporting_dog',
 'pomeranian': 'spitz',
 'poodle_dog': 'domestic_dog',
 'pug': 'domestic_dog',
 'redbone': 'hound_dog',
 'retriever': 'sporting_dog',
 'rhodesian_ridgeback': 'hunting_dog',
 'rottweiler': 'shepherd_sheepdog',
 'saint_bernard': 'working_dog',
 'saluki': 'hound_dog',
 'samoyed': 'spitz',
 'sausage_dog': 'dachshund',
 'schipperke': 'watchdog',
 'schnauzer': 'terrier',
 'scotch_terrier': 'terrier',
 'scottish_deerhound': 'hound_dog',
 'sealyham_terrier': 'wirehaired terrier',
 'sennenhunde': 'working_dog',
 'setter': 'sporting_dog',
 'shepherd_sheepdog': 'working_dog',
 'shetland_sheepdog': 'shepherd_sheepdog',
 'shih-tzu': 'toy_dog',
 'siberian_husky': 'sledge_dog',
 'silky_terrier': 'terrier',
 'sledge_dog': 'working_dog',
 'soft-coated_wheaten_terrier': 'terrier',
 'spaniel': 'sporting_dog',
 'spitz': 'domestic_dog',
 'sporting_dog': 'hunting_dog',
 'springer_spaniel': 'spaniel',
 'staffordshire_bullterrier': 'bullterrier',
 'standard_poodle': 'poodle_dog',
 'standard_schnauzer': 'schnauzer',
 'sussex_spaniel': 'spaniel',
 'terrier': 'hunting_dog',
 'tibetan_mastiff': 'working_dog',
 'tibetan_terrier': 'terrier',
 'toy_dog': 'domestic_dog',
 'toy_poodle': 'poodle_dog',
 'toy_spaniel': 'toy_dog',
 'toy_terrier': 'toy_dog',
 'vizsla': 'pointer',
 'walker_hound': 'foxbound',
 'watchdog': 'working_dog',
 'weimaraner': 'hound_dog',
 'welsh_springer_spaniel': 'springer_spaniel',
 'west_highland_white_terrier': 'terrier',
 'whippet': 'greyhound',
 'wire-haired_fox_terrier': 'terrier',
 'wirehaired terrier': 'terrier',
 'wolfhound': 'hound_dog',
 'working_dog': 'domestic_dog',
 'yorkshire_terrier': 'terrier'}

## L6

In [10]:
idx=breed_set.index[breed_set['label_new'].isin(L6_all)]
tochange=np.random.choice(idx,size=int(idx.size/2), replace=False)

In [11]:
for i in tochange:
    br=breed_set.iloc[i]['label_new']
    parent=t[br]
    breed_set.loc[i].label_new=parent

# L5

In [12]:
idx=breed_set.index[breed_set['label_new'].isin(L5_all)]
tochange=np.random.choice(idx,size=int(idx.size/2), replace=False)

In [13]:
for i in tochange:
    br=breed_set.iloc[i]['label_new']
    parent=t[br]
    breed_set.loc[i].label_new=parent

# L4

In [14]:
idx=breed_set.index[breed_set['label_new'].isin(L4_all)]
tochange=np.random.choice(idx,size=int(idx.size/2), replace=False)
for i in tochange:
    br=breed_set.iloc[i]['label_new']
    parent=t[br]
    breed_set.loc[i].label_new=parent

# L3

In [15]:
idx=breed_set.index[breed_set['label_new'].isin(L3_all)]
tochange=np.random.choice(idx,size=int(idx.size/2), replace=False)
for i in tochange:
    br=breed_set.iloc[i]['label_new']
    parent=t[br]
    breed_set.loc[i].label_new=parent

# L2

In [16]:
idx=breed_set.index[breed_set['label_new'].isin(L2_all)]
tochange=np.random.choice(idx,size=int(idx.size/2), replace=False)
for i in tochange:
    br=breed_set.iloc[i]['label_new']
    parent=t[br]
    breed_set.loc[i].label_new=parent

In [18]:
breed_set.to_csv("new_labels.csv", encoding='utf-8',index=False)

# Remove extra columns for new dataset

In [19]:
new=pd.read_csv("new_labels.csv",usecols=['id','label_new'])
new.head()

                                 id         label_new
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397           toy_dog
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [20]:
new.columns = ['id', 'breed']

In [21]:
new.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397           toy_dog
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [22]:
new.to_csv("new_labels_two_columns.csv", encoding='utf-8',index=False)

In [23]:
test=pd.read_csv("new_labels_two_columns.csv")
test.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397           toy_dog
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever